<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wrapp.example.floatlabelededittext">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.LDM.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar">
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".rlIcon2"></activity>
        <activity android:name=".EmailLogin"></activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar"></activity>
        <activity android:name=".TakePhoto" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppIntro"
            android:label="LIUDONGMING"></activity>
        <activity android:name=".ColorChoose"></activity>

        <activity android:name=".MaterailViewPager"></activity>
        <activity android:name=".NewsActivity" />
        <activity android:name=".ConvenientBanner.BannerTest" />
        <activity android:name=".ImageGridActivity" />
        <activity android:name=".ImagePagerActivity" />
    </application>

</manifest>
